
<%- include('include/header'); -%>

<div class="container mt-5">
 <div class="row">
  <div class="col-12">
    <div class="text-center mb-4">
      <h3>Category</h3>
    </div>
  </div>
  <div class="col-2"></div>
  <div class="col-4">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Name category</th>
        </tr>
      </thead>
      <tbody>
        <% if (typeof categorys !== 'undefined') { %>
        <%  categorys.forEach( function( result ) { %>

        <tr>
          <td><%= result.name %></td>
          <td class="">
            <a href="/admin/updatecat/<%= result._id %>" class="btn btn-sm btn-warning">Update</a>
            <a href="/admin/deletecat/<%= result._id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to delete category?');">Delete</a>
          </td>
        </tr>

        <%  }); %>
        <% } %>

      </tbody>
    </table>

  </div>
  <div class="col-4">
    <!-- check validation -->
    <% if (typeof error !== 'undefined' ) { %>
    <% error.forEach( err => { %>
    <p style="color: red;"><%= err.msg %></p>
    <% }) %>
    <% } %>
    <% if (typeof success !== 'undefined' ) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong><%= success %>!</strong> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } if (typeof errName !== 'undefined') {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%= errName %>!</strong> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } if (typeof delSS !== 'undefined') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong><%= delSS %>!</strong> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <% } %>
    <!-- check validation -->
    <form class="form-inline" method="POST" action="/admin/viewcategory">

      <label class="sr-only" for="cateogry">Category</label>
      <input type="text" name="category" class="form-control mb-2 mr-sm-2" id="category" placeholder="add category..." value="<%= (typeof values !== 'undefined' )? values.category : ''; %>">


      <button type="submit" class="btn btn-primary mb-2">ADD</button>
    </form>

  </div>
  <div class="col-2"></div>
</div>
</div>

<%- include('include/footer') -%>